.container {
  text-align: center;
  margin-top: 40px;
  font-family: Arial, sans-serif;
}

.searchInput {
  padding: 10px;
  width: 60%;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

/* Cypress will look for this class */
.countryCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 150px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}

.card img {
  width: 80px;
  height: 50px;
  object-fit: cover;
}